.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 1px solid #da3030;
    width: 400px;
    height: 400px;
    padding: 25px;
    border-radius: 5px;
    overflow: auto;
}
  
.container::-webkit-scrollbar {
    display: none;
}

.new-item {
    display: flex;
    margin: 0;
    justify-content: space-between;
}
  
.todo-list {
    list-style: none;
    border-left: 2px solid #da3030;
    background-color: rgb(255, 228, 224);
    margin: 10px 0 0;
    padding-left: 5px;
    height: auto;
    width: auto;
}
  
.todo-list::-webkit-scrollbar {
    display: none;
}
  
.todo-item {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-item:hover {
    cursor: pointer;
}
  
.todo-item button {
    scale: 0.9;
    border-radius: 5px;
}

.lista {
  display: flex;
  flex-direction: column;
  padding: 0;
}